/*primeiras propriedades:*/
/*vamos dar o reset: {ele serve para de fato resetar as estilizações padrões do navegador} */
*{
    /* define a área de margem nos quatro lados do elemento */
    margin: 0;
    /* distância entre o conteúdo de um elemento e suas bordas */
    padding:0;
    /* para configurar uma ou mais das propriedades de contorno */
    outline:0;
}

body{
    /* Definindo a fonte de todo nosso body */
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

li {
    /*retirando as bolinhas das nossas listas*/
    list-style: none;
}

.header-menu{
    /*// Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens. //*/
    display: flex;
    position:fixed; /*Deixa o nosso header fixo*/
    width: 100%; /*Largura*/
    padding: 8px; /*Espaçamento dos 4 lados*/
    padding-bottom: 32px; /*Espaçamento inferior*/
    padding-top: 32px;/*Espaçamento superior*/
    height: 60px;
    background-color:#724796;
}

.header-menu nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.lista-menu{
    display: flex;
    justify-content: space-evenly; /*Espaçamento entre eles seja igual*/
    width: 50%;
    align-items: center;
}

/*Pegando os itens com as tags de dentro da nossa lista*/
.lista-menu li>a{
    color: #FFF;
    font-size: 18px;
    text-decoration: inherit;
}

/*O container é um componente do Bootstrap que garante que o seu layout vai ficar alinhado corretamente na página.
Ele pode definir as margens laterais da página, ou deixar sem margens e, também, posiciona o conteúdo no
centro do browser. O container é invisível.*/

.container{
    margin-right: auto; /*uma margem automática para todos os lados*/
    margin-left: auto; /*uma margem automática para todos os lados*/
    max-width: 960px; /*largura maxima*/
    padding-right: 10px; /*espaçamento direito*/
    padding-left: 10px; /*espaçamento esquerdo*/
    width: 100%; /*largura*/
}

.subcontainer-principal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.topico-principal{
    font-size: 36px;
    color: #ff4dbc;
}

.lista-item{
    padding: 32px; /*espaçamento dos quatro lados */
}

.lista ul li{
    margin-bottom: 32px; /*espaçamento entre itens da lista */
}

.lista-titulo{
    margin-bottom: 5px; 
    font-size: 22px;
    color: #661e4b;
    font-weight:700;
}

.subtitulo-lista{
    font-size: 18px;
    color:#828282;
    font-weight: 500;
}

.footer{
    background-color: #724796;
    height: 30vh;
    display: flex;
    align-items: center;
}

.lista-footer{
    color: #fff;
    font-weight: 18px;
    margin-bottom:16px;
    display:flex;
    align-items: center;
}

.wrapper-portfolio{
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
}